/* body {background: #FF9900;
    background: -moz-linear-gradient(left, #FF9900 0%, #FFAA00 53%, #FFC34D 100%);
    background: -webkit-linear-gradient(left, #FF9900 0%, #FFAA00 53%, #FFC34D 100%);
    background: linear-gradient(to right, #FF9900 0%, #FFAA00 53%, #FFC34D 100%);;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Roboto' , sans-serif;
    padding: 0px;
    margin: 0px;
}

header{
    background: rgb(51,83,132);
    color: white;
}


.photoCV {
    width: 300px;
}